<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report ||= @commentable %>
</div>

<div id="comments" class="index-items">
  <% if @comments.empty? %>
    <%= t('views.common.no_object', name: Comment.model_name.human) %>
  <% else %>
    <% @comments.each do |comment| %>
      <div class="index-item">
        <div id="<%= dom_id comment %>">
          <p>
            <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
            <%= l comment.created_at, format: :long %>
          </p>

          <p>
            <strong><%= Comment.human_attribute_name(:user_id) %>:</strong>
            <%= [comment.user.name, comment.user.email].find(&:present?) %>
          </p>

          <p>
            <strong><%= Comment.human_attribute_name(:body) %>:</strong>
            <%= comment.body %>
          </p>

          <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_polymorphic_path(comment) if current_user.id == comment.user_id %>
          <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), comment, method: :delete if current_user.id == comment.user_id %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'comments/comment_form', comment: @comment, commentable: @report %>

<div>
  <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_polymorphic_path(@report) if current_user.id == @report.user_id %>
  <% if current_user.id == @report.user_id %>
    |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete if current_user.id == @report.user_id %>
</div>
