<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<div>
  この日報は以下の日報から言及されています　※要i18n
  <%#= t('controllers.common.notice_create', name: Report.model_name.human) %>
</div>

<div class="index-items">
  <% @mentioning_reports.each do |mentioning_report| %>
    <div class="index-item">
      <%= render mentioning_report %>
      <p>
        <%= link_to t('views.common.show', name: Report.model_name.human.downcase), mentioning_report %>
      </p>
    </div>
  <% end %>
</div>

<%= render 'shared/comments', commentable: @report %>

<nav class="page-nav">
  <% if @report.editable?(current_user) %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <% if @report.editable?(current_user) %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>
</nav>
