<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @report %>
</div>

<div id="comments" class="index-items">
  <% if @comments.empty? %>
    コメントはありません😹
  <% else %>
    <% @comments.each do |comment| %>
      <div class="index-item">
        <%#= render comment %>
        <div id="<%= dom_id comment %>">
          <p>
            <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
            <%= comment.created_at %>
          </p>

          <p>
            <strong><%= Comment.human_attribute_name(:user_id) %>:</strong>
            <%= User.find(comment.user_id).email %>
          </p>

          <p>
            <strong><%= Comment.human_attribute_name(:body) %>:</strong>
            <%= comment.body %>
          </p>

          <p>
          </p>
            <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_polymorphic_path(comment) if current_user.id == comment.user_id %>
            <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), comment, method: :delete if current_user.id == comment.user_id %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('views.common.new', name: Comment.model_name.human.downcase), new_comment_path %>
</nav>

<%= render 'comments/comment_form', comment: @comment, commentable: @report %>

<div>
  <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_polymorphic_path(@report) if current_user.id == @report.user_id %>
  <% if current_user.id == @report.user_id %>
    |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete if current_user.id == @report.user_id %>
</div>
